<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.souhaikr.adopt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".utils.MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".utils.LoginActivity" />
        <activity android:name=".utils.SignupActivity" />
        <activity
            android:name=".utils.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/App" />
        <activity android:name=".utils.AddPostActivity"
            android:label="Add a post"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>